body {
    background-color: #010014;
    color: white;
    font-family: "IBM Plex Mono", monospace; /*originally was Arial;*/
    text-align: center;
}

h1 {
    font-size: 60px;
}

p {
    color: lightgray;
}